{{ $img := .Page.Resources.GetMatch .Destination }}
{{ $alt := .PlainText }}
{{ if $img }}
<figure class="photo{{ if .Title }} has-caption{{ end }}">
	{{ partial "marks.html" }}
	<div class="photo-print">
		<picture><img src="{{ $img.RelPermalink }}"{{ with $img.Width }} width="{{ . }}"{{ end }}{{ with $img.Height }} height="{{ . }}"{{ end }} loading="lazy" alt="{{ $alt }}"></picture>
		{{ with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
	</div>
</figure>
{{ else }}
<img src="{{ .Destination }}" alt="{{ $alt }}">
{{ end }}
