{{/* ctx: page (Page), memo (bool), footer (bool), prev (older Page), next (newer Page) */}}
{{ $p := .page }}
{{ $res := $p.Resources.GetMatch "feature.*" }}
<article class="article {{ if $res }}post{{ else }}post no-image{{ end }}">
{{ with $res }}
    {{ $alt := $p.Title }}{{ with $p.Params.feature_image_alt }}{{ $alt = . }}{{ end }}
    <figure class="photo hero">
    	{{ partial "marks.html" }}
		<div class="photo-print">
			<picture>
				{{ $srcset := slice }}
				{{ range (slice 600 900 1200 1800) }}{{ if le . $res.Width }}{{ $v := $res.Resize (printf "%dx" .) }}{{ $srcset = $srcset | append (printf "%s %dw" $v.RelPermalink .) }}{{ end }}{{ end }}
				{{ $default := $res }}{{ if ge $res.Width 900 }}{{ $default = $res.Resize "900x" }}{{ end }}
				<img src="{{ $default.RelPermalink }}"
					 {{ with $srcset }}srcset="{{ delimit . ", " }}"
					 {{ end }}sizes="(max-width: 900px) 100vw, 900px"
					 width="{{ $default.Width }}" height="{{ $default.Height }}"
					 alt="{{ $alt }}">
			</picture>
			{{ with $p.Params.feature_image_caption }}<figcaption>{{ . | safeHTML }}</figcaption>{{ end }}
		</div>
	</figure>
{{ end }}

    <section class="content">
    	<header class="header">
		{{ if .memo }}
			<p class="zczc">{{ $p.Params.Slug | upper }} ✠</p>
			<div class="routing">
				<div class="dtg">{{ printf "%sZ%s" ($p.Date.Format "02-01-06") ($p.Date.Format "15:04") }}</div>
				{{ with $p.Params.from }}
					{{ $slug := index . 0 }}
					<div class="org">FROM {{ with site.GetPage (printf "/from/%s" $slug) }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}</div>
				{{ end }}
			</div>
		{{ end }}
			<h1 class="title">{{ $p.Title }}</h1>
		</header>

        {{ $p.Content }}
    {{ if .memo }}
        <p class="nnnn">BK</p>
    {{ end }}
    {{ if .footer }}
        <footer class="footer">
			<nav class="navigation">
				<div class="previous">
					{{ with .prev }}<a class="icon previous" href="{{ .RelPermalink }}" data-tooltip="Read the previous item" rel="prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M208,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM168,136H107.31l18.35,18.34a8,8,0,0,1-11.32,11.32l-32-32a8,8,0,0,1,0-11.32l32-32a8,8,0,0,1,11.32,11.32L107.31,120H168a8,8,0,0,1,0,16Z"></path></svg></a>{{ end }}
				</div>

				<div class="all">
					<a class="icon" href="{{ "/archive/" | relURL }}" data-tooltip="View the archive"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M208,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM192,184H64a8,8,0,0,1,0-16H192a8,8,0,0,1,0,16Zm0-48H64a8,8,0,0,1,0-16H192a8,8,0,0,1,0,16Zm0-48H64a8,8,0,0,1,0-16H192a8,8,0,0,1,0,16Z"></path></svg></a>
				</div>

				<div class="next">
					{{ with .next }}<a class="icon" href="{{ .RelPermalink }}" data-tooltip="Read the next item" rel="next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M208,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM173.66,133.66l-32,32a8,8,0,0,1-11.32-11.32L148.69,136H88a8,8,0,0,1,0-16h60.69l-18.35-18.34a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,173.66,133.66Z"></path></svg></a>{{ end }}
				</div>
			</nav>
		</footer>
    {{ end }}
    </section>
</article>
