{{ define "main" }}
<article class="article post">
	{{ with resources.Get "images/404.jpg" }}
	{{ partial "hero.html" (dict "res" . "alt" "A partial view of the Chaîne des Puys from Puy de Dôme in Auvergne (France). Image Anthony Nelzin-Santos." "caption" "Puy de Dôme (France), 2023-08.") }}
	{{ end }}

	<h1 class="title">Error 404 – You’re lost</h1>

	<section class="content">
		<p>This is most unfortunate. Follow these tips:</p>
		
		<ul>
			<li><b>Stay calm.</b> Take a breath, regroup, and assess your situation. Use your head before your legs.</li>
			<li><b>Retrace your steps.</b> If you’re still on a path, walk back to the last known location. If you’re not or if it’s getting dark, it’s best to seek shelter.</li>
			<li><b>Signal for help.</b> Outside of cellular or satellite coverage, use a whistle, a mirror, or a powerful flashlight to attract attention.</li>
		</ul>

		<p>If all hope is lost, you should <a href="{{ "/" | relURL }}">go back to the homepage</a>.</p>
	</section>
</article>
{{ end }}
