{{ define "main" }}
<article class="article post">
	<figure class="photo hero">
		{{ partial "marks.html" }}
		<div class="photo-print">
			<picture>
				<img src="/assets/images/peugeot-404.jpg" alt="The bonnet of a Peugeot 404.">
			</picture>
			<figcaption>Image <a href="https://unsplash.com/fr/@hanneskrupinski">Johannes Krupinski</a> (Unsplash).</figcaption>
		</div>
	</figure>

    <section class="content">
    	<header class="header">
			<h1 class="title">Error 404</h1>
			<div class="deck">This page couldn’t be found</div>
		</header>

        <p>This is most unfortunate. This page might have been removed… or never existed in the first place. You can <a href="{{ "/" | relURL }}">go back to the homepage</a>.</p>
    </section>
</article>
{{ end }}
